.footer {
    height: 60px;
    padding: 40px;
    background-color: #080808;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 20px #00abf0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .footer p {
    margin: 0;
 }

 .toggle-icon {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .toggle-icon fa-icon {
    font-size: 24px;
    color: inherit;
  }

@media (max-width: 425px) { 
    .footer { 
        line-height: 20px;
        font-size: 12px;
        padding: 12px;
    }
}

  
