<nav class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid navbar-page">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/logo2.png" alt="" height="40" routerLink="/home">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link " routerLink="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projects">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/skills">Compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>