<div class="container-fluid about" id="about">
    <div class="row">
        <div class="col-lg-6 col-1">
            <img src="../../assets/images/dev3.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 col-2">
            <h2 class="title">About me</h2>
            <p class="lead">Je m'appelle Ahmad et j'ai 33 ans. Diplômé d'un Bac + 5 en Ingénierie Logicielle et j'ai 2 ans d'expériences professionnelles.</p>
            <br>

            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item" role="presentation">
                    <p class="nav-link active"  data-bs-toggle="tab" data-bs-target="#home">Expériences</p>
                </li>
                <li class="nav-item" role="presentation">
                    <p class="nav-link"  data-bs-toggle="tab" data-bs-target="#contact">Formations</p>
                </li>
                <li class="nav-item" role="presentation">
                    <p class="nav-link " data-bs-toggle="tab" data-bs-target="#profile">Compétences</p>
                  </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="" id="">
                        <li class=""><span class="tab-title">Développeur Informatique</span><br>GroupeFBO : 2024 - Présent</li>
                        <br>
                        <li class=""><span class="tab-title">Développeur Informatique</span><br>Liqtrade Sas : 2021 - 2023 </li>
                    </ul>
                </div>

                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="profile-tab">
                    <ul class="" id="">
                        <li class=""><span class="tab-title">Master en Ingénierie Logicielle</span><br>Visiplus Academy : 2024 - Présent</li>
                        <br>
                        <li class=""><span class="tab-title">Licence en Intelligence Artificielle</span><br>École Numérique de Simplon : 2021 - 2023</li>
                        <br>
                        <li class=""><span class="tab-title">Master en Économie </span><br>Université d'Aksaray : 2017 - 2019</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="contact-tab">
                    <ul class="" id="">
                        <li class=""><span class="tab-title">Développement Backend</span></li>
                        <ul>
                            <li>Java</li>
                            <li>Spring</li>
                            <li>SQL</li>
                        </ul>
                        <br>
                        <li class=""><span class="tab-title">Développement Frontend</span></li>
                        <ul>
                            <li>Javascript</li>
                            <li>Angular</li>
                        </ul>
                        <br>
                        <li class=""><span class="tab-title">Développement IA</span></li>
                        <ul>
                            <li>Python</li>
                       
                        </ul>
                    </ul>
                </div>
              </div>
        </div>
    </div>
</div>
