    <!-- SERVICES  -->

    <div class="service">
            <div class="row text-center">
                <div class="col-12 title">
                    <h2><span>S</span>ervices</h2>
                </div>
            </div>
      
            <div class="row service-content">
                
                <div class="col-lg-4 col-md-6 col-sm-12 content">
                    <div class="text"> 
                        <div >
                            <fa-icon [icon]="faCrop" style="font-size: 40px;"></fa-icon>
                            <h3 class="service-title">Développement Frontend</h3>
                            <p>Création de site vitrine pour représenter votre entreprise sur Internet. Tous mes sites vitrines sont optimisés pour le référencement naturel (SEO) et associé à un compte Google My Busin</p>
                            <br>
                            <a href="">En savoir plus...</a>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 content">
                    <div class="text">
                        <div>
                            <fa-icon [icon]="faCode" style="font-size: 40px;"></fa-icon>
                            <h3 class="service-title">Développement Backend</h3>
                            <p>Que vous soyez un commerce de proximité, un viticulteur ou une entreprise de marchandise, vendre vos produits en ligne est incontournable lorsque 83% des français achètent sur Internet.</p>
                            <br>
                            <a href="">En savoir plus...</a>
                        </div>
                    </div>
                    <br>
                </div>
               
                <div class="col-lg-4 col-md-6 col-sm-12 content">
                    <div class="text">
                        <div>
                            <fa-icon [icon]="faBrain" style="font-size: 40px;"></fa-icon>
                            <h3 class="service-title">Développement IA</h3>
                            <p>Je mets à votre disposition mes compétences en référencement naturel (SEO) afin d’identifier avec vous les meilleurs mots-clés pour représenter votre site. Je vous aide également dans </p>
                            <br>
                            <a href="">En savoir plus...</a>
                        </div>
                    </div>
                    <br>
                </div>

            </div>
            <br>
            <br>
    </div>
