.service {
    padding: 100px 120px 0 ;
}

.service .title h2 {
    font-size: 60px;
}

.service .text {
    padding: 30px;
    margin: 10px;
    min-height: 390px;
    background-color: #262626;
    border-radius: 10px;
    text-align: justify;
    transition: .5s;
}

.service .text a {
    text-decoration: none;
    color: #fff;
}

.service .text:hover {
    background-color: green;
    transform: translateY(-20px);
}

.service-title {
    margin: 20px auto;
    font-size: 30px;
    font-weight: 400;
}

.service .text p {
    font-size: 15px;
}


