    <!-- SERVICES  -->

    <div class="service">
        <div class="container-fluid padding ">
            <div class="row text-center">
                <div class="col-12 title">
                    <h2><span>S</span>ervices</h2>
                    <p class="service-text">Des prestations adaptées à vos besoins</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-md-6 col-sm-12 content">
                    <div class="text"> 
                    <div >
                        <i class="fa-solid fa-bars"></i>
                        <h3>Site Vitrine</h3>
                        <i class='bx bx-code-alt'></i>
                        <p>Création de site vitrine pour représenter votre entreprise sur Internet. Tous mes sites vitrines sont optimisés pour le référencement naturel (SEO) et associé à un compte Google My Business afin que votre image soit correctement présentée sur les résultats de recherche de vos utilisateurs.</p>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 content">
                    <div class="text">
                        <h3>Site e-Commerce</h3>
                        <p>Que vous soyez un commerce de proximité, un viticulteur ou une entreprise de marchandise, vendre vos produits en ligne est incontournable lorsque 83% des français achètent sur Internet. Je peux réaliser pour vous votre site e-commerce avec module de paiement en ligne sécurisé.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 content">
                    <div class="text">
                        <h3>Référencement Naturel</h3>
                        <p>Je mets à votre disposition mes compétences en référencement naturel (SEO) afin d’identifier avec vous les meilleurs mots-clés pour représenter votre site. Je vous aide également dans la configuration de votre compte Google My Business afin de toujours contrôler votre image dans les résultats de recherche.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
