.service {
    padding: 60px 100px 30px ;
}

.service .title h2 {
    font-size: 50px;
    margin: 50px auto 40px;
}

.service-content {
    display: flex;
}

.service .text {
    padding: 30px;
    margin: 10px;
    min-height: 400px;
    min-width: 200px;
    background-color: #262626;
    border-radius: 10px;
    text-align: justify;
    transition: .8s;
    box-shadow: #00abf0 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.service .text a {
    text-decoration: none;
    color: #fff;
}

.service .text:hover a {
    text-decoration: none;
    color: #000;
}

.service .text:hover {
    background-color: #00abf0;;
    transform: translateY(-10px);
    color: #000
}

.service-title {
    margin: 20px auto;
    font-size: 30px;
    font-weight: 400;
}

.service .text p {
    font-size: 15px;
}

@media (max-width: 1024px) { 
    .service {
        padding: 40px 35px 35px;
    }
    .service .title h2 {
        font-size: 40px;
    }
    .service-title {
        font-size: 23px;
    }
}

@media (max-width: 768px) { 

    .service .title h2 {
        font-size: 40px;
        margin: 50px auto 24px;
    }
}

@media (max-width: 425px) { 
    .service {
        padding: 40px 35px 35px;
    }

    .service .title h2 {
        font-size: 40px;
        margin: 50px auto 24px;
    }
    .service-title {
        font-size: 22px;
        font-weight: 500;
    }

}


