<div class="project-details">

    <!--Liqtrade CRM -->
    <div class="crm-project" *ngIf="groupeFbo">
        <p>2024 – Aujourd’hui | La Roche-sur-Yon</p>
        <p>Développeur informatique</p>
        <p>
            <a href="https://groupefbo.com/" target="_blank"><strong>GroupeFBO</strong></a>
        </p> 

        <ul>
            <li>Plateforme de gestion du tiers payant santé et du recouvrement d’impayés, utilisée en production.</li> 
            <li>Développement full-stack de modules critiques : gestion des utilisateurs, clients, sites médicaux et dossiers financiers</li> 
            <li>Implémentation de règles métier complexes liées aux mutuelles, soins et rejets de paiement</li> 
            <li>Automatisation des relances d’impayés et historisation complète des opérations</li> 
            <li>Synchronisation de factures depuis des outils métiers externes</li> 
            <li>Intégration d’un module OCR pour l’analyse des cartes de mutuelle et la vérification des données patients</li> 
            <li>Sécurisation des données sensibles (chiffrement en base, accès restreints)</li> 
            <li>Optimisation des performances SQL et gestion de volumes importants</li> 
            <li>Collaboration étroite avec Product Owner et équipes métiers</li> 
        </ul>

        <p><strong>Technologies :</strong></p>

        <ul>
            <li>Java 21</li>
            <li>Spring Boot</li>
            <li>Spring Security</li>
            <li>React</li>
            <li>PostgreSQL</li>
            <li>Tailwind</li>
            <li>Flyway</li>
        </ul>
    </div>
    
    <!-- STPPS -->
    <div class="stpps-project" *ngIf="visiplus">
        <p>Avril 2024 – Décembre 2024</p>
        <p>Expert en ingénierie du logiciel (Titre RNCP Niveau 7)</p>
        <p>
            <a href="https://academy.visiplus.com/" target="_blank"><strong>Visiplus Academy</strong></a>
        </p> 
        <p>
            Formation spécialisée en ingénierie logicielle couvrant l'ensemble du cycle de vie d'un logiciel, de l'analyse du besoin à la mise en production.
        </p>
        <ul>
            <li> Acquisition des compétences liées à la gestion de la relation client et à la traduction des besoins métiers en solutions techniques.</li> 
            <li> Pilotage de projets logiciels selon des méthodes agiles et des approches de gestion de projet adaptées aux contraintes de l'entreprise.</li> 
            <li> Mise en œuvre de pratiques d'intégration continue, d'industrialisation et de déploiement à travers l'utilisation d'outils DevOps et de conteneurisation.</li> 
            <li> Conception d'architectures logicielles robustes, évolutives et maintenables en appliquant les principes de l'ingénierie logicielle.</li> 
            <li> Réalisation de plusieurs projets full stack mobilisant les technologies Java, Spring Boot, Angular, SQL, Docker et CI/CD.</li> 
        </ul>
 
        <p><strong>Blocs de compétences validés :</strong></p>

        <ul>
            <li>Bloc 1 : Gestion de la relation client en ingénierie du logiciel</li>
            <li> Bloc 2 : Pilotage de projet d'ingénierie du logiciel</li>
            <li> Bloc 3 : Intégration, industrialisation et déploiement de logiciel</li>
            <li> Bloc 4 : Conception avancée de l'architecture de logiciel</li>
        </ul>

    </div>    
    
     <!-- Block pour le projet OCR -->
     <div class="ocr-project" *ngIf="liqtrade">
        <p>2021 – 2023 | Biarritz</p>
        <p>Développeur informatique</p>
        <p>
            <a href="https://www.frenchtech-paysbasque.com/ecosysteme/liqtrade/" target="_blank"><strong>Liqtrade Sas</strong></a>
        </p> 

        <ul>
            <li>Développement et évolution d’un CRM destiné à la gestion des clients et des activités commerciales.</li>
            <li>Conception et implémentation de fonctionnalités liées à la gestion des clients, des comptes utilisateurs, des plafonds de crédit et de l’automatisation des demandes de prêts.</li>            <li>Intégration frontend–backend via API REST sécurisées</li> 
            <li>Développement d’API REST sécurisées et intégration frontend–backend.</li>
            <li>Mise en œuvre de l’authentification et de la gestion des rôles (administrateur, commercial, client) avec Spring Security.</li>
            <li>Développement de fonctionnalités d’envoi d’emails transactionnels et de traçabilité des actions utilisateurs.</li>     
            <li>Participation aux phases de débogage, de revue de code et d’optimisation des performances applicatives.</li> 
            <li>Collaboration avec un développeur senior dans un environnement Agile (sprints, revues, planification).</li>
        </ul>

        <p><strong>Technologies :</strong></p>

        <ul>
            <li>Java 17</li>
            <li>Spring Boot</li>
            <li>Spring Security</li>
            <li>Vue.js</li>
            <li>MySQL</li>
            <li>SQL</li>
            <li>Bootstrap</li>
        </ul>
    </div>   
    
        <!-- projet Project Management Tool -->
    <div class="project-management" *ngIf="simplon">
        <p>2021 – 2023 | Bayonne</p>
        <p>Développement Intelligence Artificielle (Bac+3)</p>
        <p>
            <a href="https://www.simplon.co/" target="_blank"><strong>École IA Microsoft by Simplon</strong></a>
        </p> 
        <p>
            Formation spécialisée dans le développement de solutions d'intelligence artificielle et l'exploitation de la donnée, combinant programmation, machine learning et développement d'applications.        </p>
        <ul>
        <li>Acquisition des fondamentaux de Python appliqués à la science des données et à l'intelligence artificielle.</li>
        <li>Conception et entraînement de modèles de Machine Learning pour des problématiques de régression, classification et clustering.</li>
        <li>Initiation au Deep Learning et à l'analyse d'images à travers des projets concrets.</li>
        <li>Manipulation, traitement et visualisation de données à l'aide de bibliothèques spécialisées.</li>
        <li>Développement d'applications web et d'API avec Flask afin d'intégrer des modèles d'intelligence artificielle dans des solutions complètes.</li>
        <li>Réalisation de projets pratiques autour de l'OCR, de l'analyse de données et de l'automatisation de traitements.</li>
        </ul>
 
        <p><strong>Compétences développées : :</strong></p>
        
        <ul>
        <li>Python</li>
        <li>Machine Learning</li>
        <li>Deep Learning (bases)</li>
        <li>Analyse et visualisation de données</li>
        <li>OCR (EasyOCR)</li>
        <li>Flask</li>
        <li>Développement d'API REST</li>
        <li>JavaScript</li>
        <li>Manipulation et préparation des données</li>
        </ul>

    </div>

    <!-- Block pour le Formation Aksaray -->
    <div class="game-up" *ngIf="aksaray">
        <p>2017 – 2019 | Aksaray, Turquie</p>
        <p>Master Économie</p>
        <p>
            <a href="https://aksaray.edu.tr/" target="_blank"><strong>Université d’Aksaray</strong></a>
        </p> 
        <p>
            Formation universitaire spécialisée dans l'analyse économique, les méthodes quantitatives et l'étude des mécanismes financiers et organisationnels.        
        </p>
        <ul>
            <li>Acquisition des fondamentaux de l'analyse économique appliquée aux entreprises et aux marchés.</li>
            <li>Utilisation des méthodes statistiques pour l'interprétation et l'exploitation des données économiques et financières.</li>
            <li>Étude des indicateurs de performance, de la gestion financière et de l'aide à la décision.</li>
            <li>Développement d'une capacité d'analyse et de synthèse pour résoudre des problématiques complexes à partir de données chiffrées.</li>
            <li>Réalisation de travaux d'analyse reposant sur la collecte, le traitement et l'interprétation de données économiques.</li>
        </ul>
 
        <p><strong>Compétences développées :</strong></p>
        
        <ul>
            <li>Analyse économique</li>
            <li>Statistiques</li>
            <li>Analyse quantitative</li>
            <li>Gestion et interprétation de données</li>
            <li>Analyse financière</li>
            <li>Aide à la décision</li>
            <li>Esprit d'analyse et de synthèse</li>
        </ul>
    </div>

    <!-- Block pour le Formation Aksaray -->
    <div class="game-up" *ngIf="kabul">
        <p>2010 – 2013 | Université de Kaboul – Afghanistan</p>
        <p>Licence en Économie</p>
        <p>
            <a href="https://ku.edu.af/" target="_blank"><strong>Université de Kaboul</strong></a>
        </p> 
        <p>
            Formation universitaire axée sur l'étude de la microéconomie, de la macroéconomie, de la finance et des systèmes bancaires.        </p>
        <ul>
            <li>Étude des principes de la microéconomie et de la macroéconomie.</li>
            <li>Acquisition de connaissances en banque, finance et systèmes économiques.</li>
            <li>Analyse des mécanismes des marchés, des politiques économiques et des institutions financières.</li>
            <li>Développement de compétences en analyse économique et en interprétation des données financières.</li>
        </ul>
 
        <p><strong>Compétences développées :</strong></p>
        
        <ul>
            <li>Microéconomie</li>
            <li>Macroéconomie</li>
            <li>Banque et finance</li>
            <li>Analyse économique</li>
            <li>Analyse financière</li>
            <li>Recherche et interprétation de données</li>
            <li>Esprit d'analyse et de synthèse</li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>
