    <!-- PORTFOLIO  -->
    <div class="container-fluid padding portfolio" id="portfolio">
        <div class="row">
            <div class="col-12 text-center title">
                <h2><span>P</span>rojets</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="../../assets/images/pr1.jpg"  alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">Project Management Tool</h5>
                        <p class="card-text">Cette application permet de gérer des projets, des tâches et des utilisateurs de manière intuitive et efficace.</p>
                        <div class="p-icon">
                         <a routerLink="/details" (click)="selectProject(1)"><fa-icon [icon]="faExternalLinkAlt" style="font-size: 20px;"></fa-icon></a>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="../../assets/images/game3.jpg"  alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">Game Up</h5>
                        <p class="card-text">Cette application est une plateforme de vente de jeux de société en ligne.</p>
                        <div class="p-icon">
                            <a routerLink="/details" (click)="selectProject(2)"><fa-icon [icon]="faExternalLinkAlt" style="font-size: 20px;"> </fa-icon></a>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="../../assets/images/elec6.jpg" alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">Electricity Billing System</h5>
                        <p class="card-text">Une application permettant une gestion efficace des données et affichage de factorisation d'électricité.</p>
                        <div class="p-icon">
                            <a routerLink="/details" (click)="selectProject(3)"><fa-icon [icon]="faExternalLinkAlt" style="font-size: 20px; color:white"> </fa-icon></a>   
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="more-project">
                <button type="button" class="btn btn-outline-light btn-lg"><a href="https://github.com/AhmadNawzadi?tab=repositories" target="_blank" >En savoir plus</a></button>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>



