    PORTFOLIO 
    <div class="container-fluid padding portfolio" id="portfolio">
        <div class="row">
            <div class="col-12 text-center title">
                <h2>Projets</h2>
                <hr/>
            </div>
        </div>
        <div class="projects">
                        <div class="">
                <div class="card">
                    <img src="assets/images/CRM.jpg" alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">Liqtrade CRM</h5>
                        <p class="card-text">Une application destiné à perfectionner la Gestion de la Relation Client.</p>
                        <div class="p-icon">
                            <a routerLink="/details/4" (click)="selectProject(3)"><fa-icon [icon]="faExternalLinkAlt" style="font-size: 20px; color:white"> </fa-icon></a>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <img src="assets/images/stpps2.png" alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">STPPS</h5>
                        <p class="card-text">Une application pour la gestion du tiers payant pour les professionnels de santé.</p>
                        <div class="p-icon">
                            <a routerLink="/details/5" (click)="selectProject(3)"><fa-icon [icon]="faExternalLinkAlt" style="font-size: 20px; color:white"> </fa-icon></a>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <img src="assets/images/ocr1.jpg" alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">Carte bancaire OCR</h5>
                        <p class="card-text">Une application permettant d'extraire les informations d'une carte bancaire.</p>
                        <div class="p-icon">
                            <a routerLink="/details/6" (click)="selectProject(3)"><fa-icon [icon]="faExternalLinkAlt" style="font-size: 20px; color:white"> </fa-icon></a>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <img src="assets/images/pm.jpg"  alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">Project Management Tool</h5>
                        <p class="card-text">Cette application permet de gérer des projets, des tâches et des utilisateurs de manière intuitive et efficace.</p>
                        <div class="p-icon">
                         <a routerLink="/details/1" (click)="selectProject(1)"><fa-icon [icon]="faExternalLinkAlt" style="font-size: 20px;"> </fa-icon></a>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <img src="assets/images/gameUp.jpg"  alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">Game Up</h5>
                        <p class="card-text">Cette application est une plateforme de vente de jeux de société en ligne.</p>
                        <div class="p-icon">
                            <a routerLink="/details/2" (click)="selectProject(2)"><fa-icon [icon]="faExternalLinkAlt" style="font-size: 20px;"> </fa-icon></a>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <img src="assets/images/wine.jpeg" alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">Wine Tailors</h5>
                        <p class="card-text">Winetailors réunit deux outils pour performer et relever les défis actuels de la distribution des vins : la logistique et le numérique.</p>
                        <div>
                            <p><i>Coming Soon ...</i></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="more-project">
                <button type="button" class="btn btn-outline-light btn-lg"><a href="https://github.com/AhmadNawzadi?tab=repositories" target="_blank" >En savoir plus</a></button>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>



