
<div class="container skills">
    <div class="row text-center title">
        <h2>Competences</h2>
    </div>
    <br>
    <div class="row">

        <div class="col-lg-6 col-md-12 ">
            <div>
                <img src="../../assets/skills/java.png" alt="java-logo" class="skill-logos">
                <p class="skill-name">Java</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
            </div>

            <br>
            <div>
                <img src="../../assets/skills/spring.png" alt="java-logo" class="skill-logos">
                <p class="skill-name">Spring et Hibernate</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
            </div>
            <br>
            <div>
                <img src="../../assets/skills/cicd.png" alt="java-logo" class="skill-logos">
                <p class="skill-name">CI / CD</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55%</div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-12 right-skills">
            <div>
                <img src="../../assets/skills/angular.png" alt="java-logo" class="skill-logos">
                <p class="skill-name">Angular</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
                </div>
            </div>
            <br>
            <div>
                <img src="../../assets/skills/JavaScript.png" alt="java-logo" class="skill-logos">
                <p class="skill-name">JavaScript</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
            </div>
            <br>
            <div>
                <img src="../../assets/skills/typescript.png" alt="java-logo" class="skill-logos">
                <p class="skill-name">TypeScript</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
            </div>

        </div>
    </div>
<br>
<br>
    <div class="row">
        <div class="col-lg-3 col-md-6 skill-content">
            <app-circular-progress [finaleValue]="70"></app-circular-progress>
            <p>Gestion de projet</p>
        </div>
        <div class="col-lg-3 col-md-6 skill-content">
            <app-circular-progress [finaleValue]="70"></app-circular-progress>
            <p>Communication</p>
        </div>

        <div class="col-lg-3 col-md-6 skill-content">
            <app-circular-progress [finaleValue]="75"></app-circular-progress>
            <p>Espirit d'Analyse</p>
        </div>
        <div class="col-lg-3 col-md-6 skill-content">
            <app-circular-progress [finaleValue]="75"></app-circular-progress>
            <p>Méthodes agiles</p>
        </div> 
    </div>
      <br>

</div>
