    <!-- PORTFOLIO  -->
    <div class="container-fluid padding portfolio" id="portfolio">
        <div class="row">
            <div class="col-12 text-center title">
                <h2><span>P</span>ortfolio</h2>
                <p>Les projets sur lesquels j'ai travaillé</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="../../assets/images/1.jpg" class="card-img-top" alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">Nature</h5>
                        <p class="card-text">C'est un site statique réalise avec HTML5, CSS3 et Javascript</p>
                        <a href="./portfolio.bluewater-web.com" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="../../assets/images/2.jpg" class="card-img-top" alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">My Cave</h5>
                        <p class="card-text">C'est un site dynamique réalise avec HTML5, CSS3, Javascript, PHP et MySQL</p>
                        <a href="./mycave.bluewater-web.com" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="../../assets/images/3.jpg" class="card-img-top" alt="...">  
                    <div class="card-body text-center">
                        <h5 class="card-title">My Resturant</h5>
                        <p class="card-text">C'est un site statique réalise avec HTML5, CSS3 et Javascript</p>
                        <a href="./myresto.bluewater-web.com" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
