body.dark-mode {
    --bg-color: #080808;
    --text-color: #ffffff;
    min-height: 100vh;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
  }
  body.dark-mode .nav-link.active {
    color: #ffffff;
  }
  body.dark-mode .circular-bar::before {
    background: #080808;
  }
  body.dark-mode a {
    color: #ffffff;
  }
  body.dark-mode .dropdown-item {
    color: black;
  }
  body.dark-mode .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.6); 
  }
  body.dark-mode .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  //   LIGHT MODE
  body.light-mode {
    --bg-color: #ffffff;
    --text-color: #080808;
    min-height: 100vh;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
  }
  body.light-mode .circular-bar::before {
    background: #ffffff;
  }
  body.light-mode a {
    color: #080808;
  }
  body.light-mode  .footer {
    background: #ffffff;
  }
  body.light-mode  .navbar {
    background: #ffffff;
  }
  body.light-mode .nav-item a {
    color: #080808;
  }
  body.light-mode .navbar-toggler {
    border-color: rgba(6, 1, 1, 0.6); 
  }
  body.light-mode .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  body.light-mode .navbar-nav  {
    background-color: white;
    color: black;
    
  } 
  body.light-mode .navbar-collapse {
    align-items: center;
    right: 10;
  }

  /* Apply global variables inside component classes */
  .content {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0;
    margin: 0; 
    min-height: 100vh;
  }

// a {
//     text-decoration: none;
// }

.link-color a {
    color: #273FF5;
}

