<div class="skill-details container">
    <div class="content">
        <div>
            <h1 class="titleCenter">{{selectedSkill.name}}</h1>
        </div>
        <div class="skills-info">
            <img [src]="selectedSkill.img" alt="java-logo" class="skill-logos">
        </div>
        <br>
        <div>
            <h4>Introduction</h4>
            <p class="paragraph" *ngFor="let intro of selectedSkill.introduction" [innerHTML]="formatText(intro)"></p>
        </div>
        <br>
        <div>
            <h4>Mon expérience vécue</h4>
            <p [innerHTML]="formatText(selectedSkill.experiance)"></p>
        </div>
        <br>
        <div>
            <h4>Mon niveau de compétence</h4>
            <p [innerHTML]="formatText(selectedSkill.level)"></p>
        </div>
        <br>
        <br>
        <div class="project">
            <div *ngFor="let p of selectedSkill.projects; let i = index">
                <div *ngFor="let entry of objectEntries(p)" class="project">
                    <app-custom-button [name]="entry[0]" [link]="entry[1]" [buttonStyle]="{'background-color': 'green', 'color': 'white'}" (click)="selectedProject = entry[0]"></app-custom-button>
                </div>
            </div>
        </div>
        <div *ngIf="selectedProject">
            <h4>Détails du projet : {{selectedProject}}</h4>
            <!-- Add more details here if needed -->
        </div>
        <br>
    </div>
</div>
<router-outlet></router-outlet>
