.skill-details {
    padding : 100px 75px 50px;
    color: #fff;
}

.skills-info  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px
}

.skills-info img  {
    height: 200px;
    width: 300px;
}