.skill-details {
    padding : 100px 280px 80px;
    color: #fff;
    text-align: justify;
}
.skills-info  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px
}
.skills-info img  {
    height: 200px;
    width: 300px;
}

.project {
    display: flex;
    flex-wrap: wrap;
}

.titleCenter {
    text-align: center;
}

@media (max-width: 425px) { 
    .skill-details {
        padding : 100px 30px 80px;
    }
    .paragraph {
        text-align: justify;
    }
    .skills-info img  {
        height: 200px;
        width: 270px;
    }
}