
<div class="skill-details container">
    <div class="content">
        <div>
            <h1>{{selectedSkill.name}}</h1>
        </div>
        <div *ngFor="let paragraph of selectedSkill.description">
            <p class="paragraph" [innerHTML]>{{paragraph}}</p>
        </div>
        <div class="skills-info">
            <img [src]="selectedSkill.img" alt="java-logo" class="skill-logos">
        </div>
        <div>
            <p>{{selectedSkill.details}}</p>
        </div>
        <div class="project">
            <div *ngFor="let p of selectedSkill.projects; let i = index" >
                <div *ngFor="let entry of objectEntries(p);" class="project">
                    <app-custom-button [name]="entry[0]" [link]="[entry[1], ind+i]"  [buttonStyle]="{'background-color': 'green'}"></app-custom-button>
                </div>
            </div>
        </div>

    </div>
</div>
<router-outlet></router-outlet>
