<section class="timeline-section">
    <h2 class="timeline-title">Mon Parcours</h2>
  
    <div class="timeline">
      <div *ngFor="let item of parcours; let i = index" class="timeline-item" [class.right]="i % 2 === 0">
        <div class="timeline-dot"></div>
        <div class="timeline-line"></div>
  
        <div class="timeline-card">
          <p class="date">{{ item.date }}</p>
          <h3>{{ item.titre }}</h3>
        
          <a class="lieu" [href]="item.lien" target="_blank" rel="noopener noreferrer">
            <span><img class="parcours-img"      
              [class.parcours-img-normal]="item.logoType === 'normal'"
              [class.parcours-img-large]="item.logoType === 'large'" 
              src="{{item.logo}}" alt=""></span>
            {{ item.lieu }}
          </a>
          <p class="details">{{ item.details }}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="parcours-skills">
      <app-custom-button name="Voir mes projets" [link]="['/projects']" [buttonStyle]="{'background-color': 'green'}"></app-custom-button>
      <app-custom-button name="Voir mes compétences" [link]="['/skills']" [buttonStyle]="{'background-color': 'green'}"></app-custom-button>
    </div>
    <br>
  </section>
  