<app-navbar></app-navbar>
<div class="home-page">

    <section class="home row">
        <div class="home-info col-lg-7">
            <h1>Ahmad Nawzadi</h1>
            <h2>Je suis un 
                <span style="--i:1;" data-text="Ingénieur Logiciel">Ingénieur Logiciel</span>
            </h2>
            <br>
            <br>
            <div class="btn-sci">
                <a routerLink="/about" class="btn">En savoir plus</a>
            </div>
        </div>

        <div class="home-img col-lg-5">
            <div class="img-box">
                <div class="img-item">
                    <img src="../../assets/images/home.png" alt="">
                </div>
            </div>
        </div>
    </section>
</div>

<router-outlet></router-outlet>