<app-navbar></app-navbar>
<div class="home-page">

    <section class="home row">
        <div class="home-info col-lg-7">
            <h1>Ahmad Nawzadi</h1>
            <h2>Je suis un 
                <span style="--i:1;" data-text="Ingénieur Logiciel">Ingénieur Logiciel</span>
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aut minus, itaque velit nisi exercitationem alias dolores id officiis similique hic odit eaque ipsam. Aperiam voluptatum blanditiis sint pariatur totam.</p>
            <div class="btn-sci">
                <a href="#" class="btn">Download CV</a>
                <div class="sci">
                    <a href="#"><i class='bx bxl-github'></i></a>
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                </div>
            </div>
        </div>

        <div class="home-img col-lg-5">
            <div class="img-box">
                <div class="img-item">
                    <img src="../../assets/images/home.png" alt="">
                </div>
            </div>
        </div>
    </section>
</div>